@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.button {
    outline: none;
    border: 0;
    background: transparent;
}

.alignleft {
    text-align: left;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 25px 45px 25px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form p, .form .pfile, .form .pdate {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 15px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bolder;
    color: #993300;
}
.textarea {
    margin-bottom: 15px;
    padding: 0 15px;
    font-weight: bolder;
    color: #993300;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #7c7c7c;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    font-weight: bolder;
}

.form button:hover, .form button:active, .form button:focus {
    background: #993300;
}

.form .title {
    margin-bottom: 15px;
    color: #993300;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bolder;
}

.form .subtitle {
    margin: 10px 0 10px 0;
    color: #cc3300;
    font-size: 15px;
    font-weight: bolder;
}

.form .message {
    margin: 15px 0 0;
    color: #cc3300;
    font-size: 12px;
    font-weight: bolder;
}

.form .message a {
    color: #993300;
    text-decoration: none;
    font-weight: bolder;
}



body {
    background: #f2f2f2;;

    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}