.button {
    outline: none;
    border: 0;
    background: transparent;
}

.add-task, .delete-all {
    padding: 15px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download {
    outline: none;
    border: 0;
    background: transparent;
}

.formfile {
    display: inline-block;
}

.check:hover {
    color: #64DD17;
}

.pencil:hover {
    color: #508aff;
}

.trash:hover {
    color: #FF1744;
}
.clean-all:hover {
    color: #FF1744;
}

.add:hover {
    color: #993300;
}

.block {
    color: #cc3300;
}
.block:hover, .unblock:hover {
    color: #d58512;
}
.unblock {
    color: #4cae4c;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fa-upload:hover {
    color: #ff9900;
    cursor: pointer;
}

.fa-file-download:hover {
    color: #9900ff;
    cursor: pointer;
}
.fa-undo-alt:hover {
    color: #9900ff;
    cursor: pointer;
}
.fa-times:hover {
    color: #FF1744;
    cursor: pointer;
}

.logo {
    color: #993300;
    outline: none;
    border: 0;
    background: transparent;

    font-size: 24px;
    margin: 0;
    padding: 0;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo:hover {
    color: #cc3300;
}
.title {
    color: #993300;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    align-content: center;
    padding: 8px;
    word-break: break-all;
    min-width: 50px;
    max-width: 369px;

}

.coll {
    width: 33px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}



body {
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    font-family: "Roboto", Arial, sans-serif;
    color: #666666;
    background: #fff;
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a {
    color: #F6490D;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #F6490D;
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-weight: 400;
    margin: 0 0 20px 0;
}

::-webkit-selection {
    color: #fff;
    background: #F6490D;
}

::-moz-selection {
    color: #fff;
    background: #F6490D;
}

::selection {
    color: #fff;
    background: #F6490D;
}

@media screen and (max-width: 768px) {
    .colorlib-nav {
        margin: 0;
    }
}

.colorlib-nav .top-menu {
    padding: 25px 0;
}



@media screen and (max-width: 768px) {
    .colorlib-nav .menu-1 {
        display: none;
    }
}

.colorlib-nav ul {
    padding: 0;
    margin: 5px 0 0 0;
}

.colorlib-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.colorlib-nav ul li a {
    position: relative;
    font-size: 12px;
    padding: 10px 15px;
    color: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.colorlib-nav ul li a:hover {
    color: #F6490D;
}

.colorlib-nav ul li.has-dropdown {
    position: relative;
}

.colorlib-nav ul li.has-dropdown .dropdown {
    width: 140px;
    -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 0;
    text-align: left;
    background: #000;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.colorlib-nav ul li.has-dropdown .dropdown:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #000;
    border-width: 8px;
    margin-left: -8px;
}

.colorlib-nav ul li.has-dropdown .dropdown li {
    display: block;
    margin-bottom: 7px;
    font-weight: 400;
}

.colorlib-nav ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0;
}

.colorlib-nav ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: #999999;
    line-height: 1.2;
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0;
}

.colorlib-nav ul li.has-dropdown .dropdown li a:hover {
    color: #fff;
}

.colorlib-nav ul li.has-dropdown:hover a, .colorlib-nav ul li.has-dropdown:focus a {
    color: #F6490D;
}

.colorlib-nav ul li.btn-cta a {
    padding: 30px 0px !important;
    color: #fff;
}

.colorlib-nav ul li.btn-cta a span {
    background: #f6490d;
    padding: 4px 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
}

.colorlib-nav ul li.btn-cta a:hover span {
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}

.colorlib-nav ul li.active > a {
    color: #F6490D !important;
    position: relative;
}

.colorlib-nav ul li.active > a:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}



#colorlib-container {
    padding: 7em 0;
    clear: both;
}

@media screen and (max-width: 768px) {
    #colorlib-container {
        padding: 3em 0;
    }
}




